<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h3>User Contacts Match</h3>
      <div class="row mb-5">
        <div class="col-md-12">
          Seleccione los usuarios para buscar todos los contactos comunes
        </div>
      </div>

      <form
        [formGroup]="matchForm"
        (ngSubmit)="searchMatch()"
        autocomplete="off"
        novalidate
        *ngIf="matchForm"
      >
        <div class="row">
          <div class="col-md-6">
            <label for="addcontacto">Añadir contacto</label>
            <div class="input-group">
              <select class="form-control" formControlName="userA">
                <option value="">Seleccione un contacto para añadir</option>
                <option *ngFor="let itemNo of allUsers" [value]="itemNo.id">
                  {{ itemNo.firstname }} {{ itemNo.lastname }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <label for="addcontacto">Añadir contacto</label>
            <div class="input-group">
              <select class="form-control" formControlName="userB">
                <option value="">Seleccione un contacto para añadir</option>
                <option *ngFor="let itemNo of allUsers" [value]="itemNo.id">
                  {{ itemNo.firstname }} {{ itemNo.lastname }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <button
              [disabled]="!matchForm.valid"
              type="submit"
              class="btn btn-primary"
              name="send"
            >
              Search Match
            </button>
          </div>
        </div>
      </form>
      <div
        class="row mt-5 text-center"
        *ngIf="formSubmitted && matches.length <= 0"
      >
        No hay coincidencias
      </div>
      <div class="row mt-5" *ngIf="matches.length > 0">
        <div class="col-md-12">
          <h3>Resultados</h3>

          <table class="table table-striped table-hover table-sm">
            <tbody>
              <tr *ngFor="let itemmatch of matches">
                <td>
                  {{ itemmatch.firstname }}
                </td>
                <td>
                  {{ itemmatch.lastname }}
                </td>
                <td>
                  {{ itemmatch.email }}
                </td>
                <!-- <td>
                  {{ itemmatch.telefono }}
                </td>
                <td>
                  {{ itemmatch.address }}
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
