<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h3>User Contacts Match</h3>
      <div class="row">
        <div class="col-md-12">
          Seleccione los usuarios para buscar todos los contactos comunes
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="userone">Usuario A</label>
          <input type="text" class="form-control" name="userone" />
        </div>
        <div class="col-md-6">
          <label for="usertwo">Usuario B</label>
          <input type="text" class="form-control" name="usertwo" />
        </div>
      </div>
    </div>
  </div>
</div>
